nav .brand-logo {
    font-size: 1.5rem;
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

/* .brand-logo {
    text-align: center;
} */

/*  */

#countdown div {
    display: inline-block;
    line-height: 1;
    padding: 1.25rem;
    font-size: 2.5rem;
    background: rgba(40, 50, 61, .62);
    margin: 0.3125rem 0 0.3125rem 0;
}

.center span {
    display: inline;
}

#countdown {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 100;
}

#countdown span {
    display: block;
    font-size: 1.25rem;
    color: white;
}

#years {
    font-size: 6.25rem;
    color: #ffffff;
}

#months {
    font-size: 6.25rem;
    color: #ffffff;
}

#days {
    font-size: 6.25rem;
    color: #ffffff;
}

#hours {
    font-size: 6.25rem;
    color: #ffffff;
}

#minutes {
    font-size: 6.25rem;
    color: #ffffff;
}

#seconds {
    font-size: 3.125rem;
    color: #db4844;
}

.reset {
    margin-top: 1.25rem;
}