nav .brand-logo {
    font-size: 1.5rem;
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}
/* .brand-logo {
    text-align: center;
} */
/*  */

#countdown div {
    display: inline-block;
    line-height: 1;
    padding: 20px;
    font-size: 40px;
    background: rgba(40, 50, 61, .62);
}

.center span {
    display: inline;
}

#countdown {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 100;
}

#countdown span {
    display: block;
    font-size: 20px;
    color: white;
}

#years {
    font-size: 100px;
    color: #ffffff;
}

#months {
    font-size: 100px;
    color: #ffffff;
}

#days {
    font-size: 100px;
    color: #ffffff;
}

#hours {
    font-size: 100px;
    color: #ffffff;
}

#minutes {
    font-size: 100px;
    color: #ffffff;
}

#seconds {
    font-size: 50px;
    color: #db4844;
}

.reset {
    margin-top: 20px;
}